/*
    Created on : Aug 20, 2019
    Author: Clara Fernández-Miranda
    Last modification: Aug 20, 2019
*/


/*ANIMATIONS
=====================*/

@keyframes bg-shape-move{
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  10% {
    opacity: 0.64;
  }

  95%{
    opacity: 0.64;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;}
}


@keyframes vertical {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(32px);
  }
}


#bg-lines, #bg-icons {
  display: none;
}


/*RESET
=====================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* border: solid 1px red; */
}

ul, ol {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafc;
  color: #2C2C33;
}

main, footer {
  margin: 0 16px;
}

h2, h3, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-weight: 400;
  font-size: 16px;
  margin: 16px 0;
}

a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #FF2257;
}

a:hover span, #more a:hover span {
  border-bottom: solid 2px #FF2257;
}

#projects a img, #mailto a img {
  width: 16px;
  margin-right: 8px;
}

/*BURGER-MENU
=====================*/
.burger-menu {
  display: inline-block;
  cursor: pointer;
  margin: 24px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}

div#burger .bar1, .bar2, .bar3 {
  width: 24px;
  height: 2px;
  background-color: #2C2C33;
  margin: 4px 0;
  transition: 0.4s;
}

/*HEADER-NAV
=====================*/
nav {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(250, 250, 252, 0);
  text-align: center;
  display: none;
}

ul#menulist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav ul#menulist li:last-child {
  margin-top: 24px;
}

nav ul#menulist li:nth-child(2) {
  display: none;
}

nav ul li a {
  color: #2c2c33;
  font-size: 24px;
}

nav ul li a:hover {
  color: #FF2257;
  border-bottom: solid 2px #FF2257;
}

/*HOME-WELCOME
=====================*/
h3 {
  font-size: 32px;
  font-weight: 700;
  padding-top: 96px;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 32px;
}

h6 {
  font-size: 14px;
  margin-top: 32px;
  font-weight: 400;
}

#welcome img {
  margin-top: 24px;
  -webkit-user-select: none;
  animation: vertical 4s infinite;
}

/*PROJECTS
=====================*/
#projects {
  margin-top: 64px;
}

#projects img {
  width: 100%;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 16px;
}

#projects article:not(:first-child) {
  margin-top: 56px;
}

#more {
  margin: 136px 0;
}

#more h4 {
  font-size: 18px;
}

/*MailTO
=====================*/
#mailto h2 {
  font-size: 32px;
}

#mailto p {
  margin: 24px 0;
  font-size: 20px;
}

/*FOOTER
=====================*/
#closing {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#credits {
  margin-bottom: 64px;
  opacity: 0.4;
}

footer #ToTop img {
  width: 24px;
  margin-right: 16px;
}

/*LINKS
=====================*/
#links {
  margin-top: 88px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#links li {
  margin-left: 24px;
}

#links li a img {
  width: 20px;
}

#logo a {
  color: #FAFAFC;
  font-size: 35px;
  display: inline-block;
  padding: 16px;
  padding-right: 19px;
  background-color: #FF2257;
}

#logo a:hover {
  background-color: #2C2C33;
  color: #FAFAFC;
}

@media (min-width: 560px) {

  main, footer {
    margin: 0 32px;
  }

  a {
    font-size: 18px;
  }

}

@media (min-width: 680px) {
  .burger-menu {
    display: none;
  }

  #bg-lines {
    position: fixed;
    width: 84%;
    margin-left: 16%;
    padding-right: 16px;
    top: 0;
    opacity: 0.64;
    z-index: -10;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #bg-lines div:not(:last-child){
    width: 33.33%;
  }

  #bg-icons {
    position: fixed;
    width: 84%;
    margin-left: 16%;
    padding-right: 16px;
    top: 0;
    z-index: -8;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #bg-icons div:not(:last-child){
    width: 33.33%;
  }

  #bg-icons div:nth-child(1) img{
    position: relative;
    left: -6px;
    animation: bg-shape-move 28s ease-in-out infinite;
  }

  #bg-icons div:nth-child(2) img{
    position: relative;
    left: -2px;
    animation: bg-shape-move 32s ease-in-out infinite;
  }

  #bg-icons div:nth-child(3) img{
    position: relative;
    right: -3px;
    animation: bg-shape-move 24s ease-in-out infinite;
  }

  #bg-icons div:nth-child(4) img{
    position: relative;
    right: -6px;
    animation: bg-shape-move 30s ease-in-out infinite;
  }

  /*HEADER-NAV
  =====================*/
  nav {
    display: block;
    height: inherit;
    /* background-color: rgba(250, 250, 252, 1); */
    text-align: center;
  }

  ul#menulist {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: inherit;
    padding: 24px 0;
    margin-right: 32px;
  }

  nav ul#menulist li:last-child {
    margin-top: 0px;
  }

  nav ul#menulist li:nth-child(2) {
    display: inline-block;
    color: #2c2c33;
    font-size: 18px;
    font-weight: 600;
  }

  nav ul#menulist li:first-child, nav ul#menulist li:nth-child(2) {
    margin-right: 20px;
  }

  nav ul li a {
    font-size: 18px;
  }

  /*MAIN
  =====================*/
  main, footer {
    width: 80%;
    margin-left: 20%;
    padding-right: 16px;
  }

  #links {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 19%;
    margin-bottom: 64px;
    flex-direction: column;
  }

  #links li {
    margin-left: 0px;
    margin-bottom: 16px;
  }

  #links li a img {
    margin: 0;
  }

  /*WELCOME
  =====================*/
  #welcome {
    width: 74%;
    padding-top: 96px;
  }

  h1 {
    font-size: 24px;
    margin-top: 40px;
  }

  h3 {
    font-size: 58px;
    padding-top: 112px;
  }

  h6 {
    margin-top: 40px;
  }

  /*PROJECTS
  =====================*/

  #more h4 {
    font-size: 22px;
  }

  /*MailTO
  =====================*/

  #mailto a {
    font-size: 22px;
  }

}

@media (min-width: 840px) {

  /*MAIN
  =====================*/

  main, footer {
    width: 84%;
    margin-left: 16%;
    padding-right: 16px;
  }

  #links {
    width: 16%;
  }

  #welcome {
    width: 64%;
  }

  /*PROJECTS
  =====================*/
  #projects {
    display: flex;
    flex-direction: row;
  }

  #projects article {
    width: 33.33%;
  }

  #projects article:not(:first-child) {
    margin-top: 0px;
  }

  #projects article h2, #projects article p {
    margin-right: 32px;
  }

  #more {
    margin: 144px 0;
    margin-left: 33.33%
  }

  /*MailTO
  =====================*/
  #mailto {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #mailto h2 {
    font-size: 39px;
    width: 33.33%;
  }

  #mailto div {
    width: 66.66%;
  }

  /*FOOTER
  =====================*/
  #closing {
    margin-top: 160px;
  }
}
